@import url('https://fonts.cdnfonts.com/css/cranberry');
@import url('https://fonts.cdnfonts.com/css/pixelify-sans');

*{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 222, 228);
}

#title{
  font-family: 'Cranberry', sans-serif;
  color: rgb(255, 107, 132);
  font-size: 50px;
}

#atkBut{
    font-family: 'Pixelify Sans', sans-serif;
    color: #ff00aa;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: 1000;
    font-size: large;
}
